<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.available %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag verified_events_path, method: :put do  %>
  <table class="table-event-dates">
    <thead>
    <tr>
      <th> </th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= check_box_tag "event_id[]", event.id, :value => event.available %></td>
        <td><label> <%= event.name %></label></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Verify Dates',  :class => 'btn btn-green btn-lg btn-block' %>
<% end %>

<br>

<%= link_to 'New Event', new_event_path %>
